.panel {
  position: relative;
}

#usd {
  cursor: pointer;
}
#usd:hover{
  color: #141414;
}
.block p {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
.fiat, #eth {
  font-size: 20px;
  font-weight: 500;
  color: #343434;
  line-height: 50px;
}

.input {
  height: 20px;
  border-radius: 10px;

}
